<h5>In the pipeline</h5>
<p>

1) A much wider range of phrases beyond simple keywords<br>
2) The app will learn good examples based on previous voting<br>
3) Reports customised to specific sectors



</p>
<br>
<b>Join the team</b> <br>

<p>Like the idea and want to get involved? We're looking for UX people, Ruby developers, amazing bizdev people (plans there released soon), community managers and machine learning experts. Drop us a line at m.w.hammond@live.co.uk</p>