
<h5>Search</h5>
<p>Search for fields (e.g. telecoms) or technologies (e.g. 'Big Data')</p>

<%= form_tag posts_path, :method => 'get' do %>
<p>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search", :name => nil %> 
</p>

<% end %>

