<% @posts.each do |post| %>

<div class="opbox">
   <!-- <img src="images/radio.jpg" alt=""> -->
     <h4><%= post.title %></h4><p> <a href="#" data-reveal-id="myModal" data-animationspeed="300" data-animation="pop">Full info</a></p>
       <p><%= post.contentSummary %>
       <%= link_to 'Full article', post %></p>

        <div class="controlpannel">
        <i class="foundicon-up-arrow" onclick=''></i> 
        <i class="foundicon-down-arrow" onclick=''></i>
        <i class="foundicon-remove" onclick=''></i> 
        </div>

        </div>
<div class=opboxspacer></div> 

<% end %>



