

<% @posts.each do |post| %>

<div class="opbox">
   <!-- <img src="images/radio.jpg" alt=""> -->

       <h5><%= post.contentSummary %><%= link_to 'more', post %></h5>

        <div class="controlpannel">
        <i class="foundicon-up-arrow" onclick=''></i> 
        <i class="foundicon-down-arrow" onclick=''></i>
        <i class="foundicon-remove" onclick=''></i> 
        </div>

        </div>
<div class=opboxspacer></div> 

<% end %>



