

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', sans-serif; font-weight: bold; font-style: normal; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; line-height: 0; }

h6 {line-height: 20px}

body
{
background-color: #f1f2f3; 
background-image:url('knitting250px.png'); 
/*background-repeat:repeat-y; */
}


/*
a { cursor: pointer; color: blue; }
a:hover,a.hover { text-decoration: underline; }
 This is defined so the links can be onClicks but still look like links
without doing javascriptVoid or linking to nothing*/

.descriptor {padding-bottom: 10px;}

.rightpanel {padding-bottom: 10px;}

.top {padding: 10px; height: 35px; text-align: center; vertical-align: middle;} 


  .top p {color: #fff;}

.whitebox {
  background-color: #fff;
  padding: 30px;
  border: 1px;
  border-color: #a5a5a5;

}

.infobox{

  padding: 30px;
  background-color: #58abff;
}

.infobox a {
  color: #fff;
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
  }
}
.infobox p {color: #fff;}
.infobox h2 {color: #fff;}
.infobox h6 {color: #fff;}




.descriptor {
  padding-left: 40px;
  padding-top: 30px;

}




.top a {
  color: #fff;
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
  }
}



.topone { background-color: #e4382a;} 
.toptwo { background-color: #e3418c;}
.topthree { background-color: #a9348c;}
.topfour { background-color: #652f8d;}

.topfive { background-color: #423891;}
.topsix { background-color: #3b7cbe;}
.topseven { background-color: #56aed4;}
.topeight { background-color: #58aaa6;}

.topnine { background-color: #78c14c;}
.topten { background-color: #cdd94f;}
.topeleven { background-color: #f6c94c;}
.toptwelve { background-color: #ea8638;}


.controlpannel {text-align: right; padding-right: 10px;   font-size: 25px;}

header {  padding-bottom: 22px 0; }

header h1 { color: #fff; font-weight: 100; }

header h4 { color: #fff; font-weight: 300; }

header.gray { background-color: #fff; padding: 12px 0; margin-bottom: 30px;}

.top-bar { margin-bottom: 0px;}

.side-nav { margin-right: 10px;}

h1 { font-size: 44px; }

h2 { font-size: 37px; }

h3 { font-size: 27px; }

h4 { font-size: 23px; }

h5 { font-size: 17px; }

h6 { font-size: 14px; }





#filters {
  list-style-type: none;
  text-align: center;
  height: 50px;
  margin: 0 5% 0 5%;
}

#filters li {
  font-size: 12px;
  float: left;
  padding: 6px 0 4px 0;
  cursor: pointer;
  margin: 0 1% 0 1%;
  width: 8%;
  -webkit-transition: all 0.15s ease-out;
     -moz-transition: all 0.15s ease-out;
       -o-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#filters li:hover {
  background: #dedede;
}

#filters li.active {
  background: #333333;
  color: #ffffff;
}


html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
  padding-bottom: 200px;}  /* must be same height as the footer */

#footer {position: relative;
  margin-top: -200px; /* negative value of footer height */
  height: 200px;
  clear:both;
  background-color: #000;
} 

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/
}

#footer .left{
padding:30px;
}

#footer p {color:#fff;}

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }


