

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', sans-serif; font-weight: bold; font-style: normal; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; line-height: 0; }



body
{
background-color: #e0e1e2; 
/*background-image:url('images/debut_light.png'); 
background-repeat:repeat-y; */
}





/*
a { cursor: pointer; color: blue; }
a:hover,a.hover { text-decoration: underline; }
 This is defined so the links can be onClicks but still look like links
without doing javascriptVoid or linking to nothing*/






.top {padding: 10px; height: 60px;
} 

/*this still won't work?!*/

  .top a {
    display: block;
    background: #c8c8c8;
    height: 100%;
    text-align: center;
  }

  .top a:hover {
    background: #f8f8f8;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
  }

.topone { background-color: #e4382a;} 
.toptwo { background-color: #e3418c;}
.topthree { background-color: #a9348c;}
.topfour { background-color: #652f8d;}

.topfive { background-color: #423891;}
.topsix { background-color: #3b7cbe;}
.topseven { background-color: #56aed4;}
.topeight { background-color: #58aaa6;}

.topnine { background-color: #78c14c;}
.topten { background-color: #cdd94f;}
.topeleven { background-color: #f6c94c;}
.toptwelve { background-color: #ea8638;}



.controlpannel {text-align: right; padding-right: 10px;   font-size: 25px;}

header {  padding-bottom: 22px 0; }

header h1 { color: #fff; font-weight: 100; }

header h4 { color: #fff; font-weight: 300; }

header.gray { background-color: #fff; padding: 12px 0; margin-bottom: 30px;}

.top-bar { margin-bottom: 0px;}

.side-nav { margin-right: 10px;}

h1 { font-size: 44px; }

h2 { font-size: 37px; }

h3 { font-size: 27px; }

h4 { font-size: 23px; }

h5 { font-size: 17px; }

h6 { font-size: 14px; }




/**
 * Grid container
 */
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin-top: 20px;
}

/**
 * Grid items
 */
#tiles li {
  background: #dbdbdb;

  display: none; /** Hide items initially to avoid a flicker effect **/
  

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
          height:auto;
          padding: 0px;
          max-height:300px;
          max-width: 300px;
}

#tiles li.inactive {
  opacity: 0;
}

/**

#tiles li img {
  display: block;
  width: 100%;
  height: auto;
}

**/

#tiles .opboxspacer {
background-color: #fff;
padding-bottom: 0px;
}

#tiles .opboxspacerleft {


display: inline-block;
}
#tiles .opboxspacerright {


display: inline-block;
float: right;
}

#tiles .bodytext {
padding: 20px;
}


#filters {
  list-style-type: none;
  text-align: center;
  height: 50px;
  margin: 0 5% 0 5%;
}

#filters li {
  font-size: 12px;
  float: left;
  padding: 6px 0 4px 0;
  cursor: pointer;
  margin: 0 1% 0 1%;
  width: 8%;
  -webkit-transition: all 0.15s ease-out;
     -moz-transition: all 0.15s ease-out;
       -o-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#filters li:hover {
  background: #dedede;
}

#filters li.active {
  background: #333333;
  color: #ffffff;
}

/**
 * Grid item text
 */

tiles li p {
  color: #666;
  font-size: 12px;
}


/**
 * Some extra styles to randomize heights of grid items.
 */
#tiles ali:nth-child(3n) {
  height: 175px;
}


#tiles ali:nth-child(4n-3) {
  padding-bottom: 30px;
}

#tiles ali:nth-child(5n) {
  height: 250px;
}

/** General page styling **/




header h1 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 3px 0;
}

header p {
  text-align: center;
  font-size: 13px;
  color: #777;
  margin: 0;
}

